.google-mp img {
  width: 100%;
}
.destination {
  padding: 50px 0;
}

.form-section {
  background-color: #046582;
  color: #fff;
  padding: 40px;
  border-radius: 5px;
}

.form-section input {
  width: 100%;
  border-radius: 4px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}
input[type="submit"] {
  margin-top: 30px;
}

ul.search-result {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

ul.search-result li {
  display: inline-block;
  margin-right: 20px;
}

ul.search-result img {
  width: 90px;
  border-radius: 3px;
}